= simple_form_for [:admin, @service], html: { class: 'form-admin' } do |f|
  .group.last
    .row
      .col-4.col-sm-4
        .form-group= f.input :name, input_html: {class: 'form-control'}
      .col-8.col-sm-8
        .form-group
          label.string.required for="service_price"
            abbr title="obrigatório"  *
            | Preço
          = f.input :price, as: 'string', input_html: {class: 'form-control currency', value: @service.new_record? ? '0,00' : @service.price.to_s.gsub('.', ',')}, aria: { descripedby: 'price-addon2' }, wrapper_html: { class: 'input-group' }, label: 'R$', label_html: { class: 'input-group-addon' }
    .form-group= f.input :description, input_html: {class: 'form-control'}
    .row
      .col-12.col-sm-4
        .form-group
          .checkbox= f.input :active, label: 'Serviço ativo?'
      .col-12.col-sm-4
        .form-group
          .checkbox= f.input :extra, label: 'Serviço Extra?'

  = f.button :submit, class: "btn btn-success text-uppercase", data: {disable_with: "aguarde..."}

- content_for :script do
  javascript:

    $( document ).ready(function() {
      applyInputMasks();
    });


    //number_to_currency(@service.price, unit: "R$", separator: ",", delimiter: "")
