.section.no-result
  .icon
    i.dripicons-store

  h3 Sua busca não retornou nenhum serviço para exibição.
  .clearfix
  = link_to 'Limpar busca', [:admin, :services], title: "Limpar busca", class: 'btn btn-outline-info text-uppercase btn-small', style: 'margin-top: 30px;'
