.section
  #accordion.accordion-companies role="tablist"

    - @services.each_with_index do |service, index|
      .card
        .card-header role="tab" id="heading#{index}"
          .row
            .col.col-sm-4
              = link_to "#collapse#{index}", data: {toggle: 'collapse'}, aria: {expanded: 'true', controls: "collapse#{index}"} do
                i.icon.dripicons-briefcase
                h5.mb-0= service.name
                p: small <i class="dripicons-wallet"></i> #{number_to_currency(service.price, unit: "R$", separator: ",", delimiter: "")}
            .col.col-sm-4.text-center
              - if service.active?
                span.badge.badge-success Ativo
              - else
                span.badge.badge-danger Inativo
              br
              - if service.extra?
                span.badge.badge-info Extra
              - else
                span.badge.badge-info Plano
            .col.col-sm-4
              .btn-group.btn-group-sm.float-right.btn-actions role="group" aria-label="Actions group"
                = link_to '<i class="dripicons-pencil"></i>'.html_safe, [:edit, :admin, service], alt: 'Editar', class: 'btn btn-secondary'
                = link_to '<i class="dripicons-trash"></i>'.html_safe, nil, alt: 'Deletar', class: 'btn btn-secondary disabled'
