- content_for :head do
  title AppWash - Serviços

.section.mt-30.mb-30
  .container
    .row
      .col-12.col-sm-4
        .title-section
          h1 Editar Serviço

          ol.breadcrumb
            li.breadcrumb-item= link_to '<i class="dripicons-home"></i>'.html_safe, [:admin], title: 'Dashboard'
            li.breadcrumb-item= link_to 'Serviços', [:admin, :services], title: 'Serviços'
            li.breadcrumb-item.active Editar Serviço
      .col-12.col-sm-8
        = render 'form'
