.row
  .col-xs-12.col-sm-6.col-md-6
    = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification
      = f.full_error :confirmation_token
      .form-inputs
        .row
          .col-xs-12.col-sm-8.col-md-6
            = f.input :email, required: true, autofocus: true, input_html: {class: "form-control"}
      .form-actions
        = f.button :submit, "Reenviar"
  .col-xs-12.col-sm-6.col-md-6
    h2 Reenvio das instruções de confirmação de cadastro
    p Se você não tiver feito essa solicitação, desconsidere esse e-mail. Em caso de dúvidas, entre em contato conosco.

= render "devise/shared/links"
