.section.margin-btn-70.section-content
  .container
    ol.breadcrumb
      li= link_to '<i class="fa fa-home"></i>'.html_safe, [:root], title: 'Home'
      li.active Cadastro de Ex-Educandos

    h1.title-page Cadastro de Ex-Educandos
    .clearfix
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-signup' }) do |f|
      .row
        .col-xs-12.col-sm-6.col-md-6
          .form-group= f.input :name, required: true, input_html: {class: "form-control"}
        .col-xs-12.col-sm-3.col-md-3
          .form-group= f.input :gender, collection: ["Masculino", "Feminino"], prompt: "Selecione o sexo", required: true, input_html: {class: "form-control"}
        .col-xs-12.col-sm-3.col-md-3
          .form-group= f.input :birthdate, as: 'string', required: true, input_html: {class: "form-control date"}

      .row
        .col-xs-12.col-sm-3.col-md-3
          .form-group= f.input :phone, required: true, input_html: {class: "form-control phone"}
        .col-xs-12.col-sm-3.col-md-3
          .form-group= f.input :email, required: true, input_html: {class: "form-control"}

        - if resource.new_record?
          .col-xs-12.col-sm-3.col-md-3
            .form-group= f.input :password, required: true, input_html: {class: "form-control"}
          .col-xs-12.col-sm-3.col-md-3
            .form-group= f.input :password_confirmation, required: true, input_html: {class: "form-control"}

      .row
        - if @unity.subdomain.eql?("matriz")
          .col-xs-12.col-sm-6.col-md-6
            label Unidade
            .form-grou = f.association :unity, collection: Unity.where.not(subdomain: "matriz"), prompt: "Selecione uma unidade", input_html: {class: "form-control"}, label: false
        - else
          .col-xs-12.col-sm-6.col-md-6
            label Unidade
            .form-grou = f.input :unity_id, collection: [@unity], prompt: false, input_html: {class: "form-control"}, label: false
        .col-xs-12.col-md-3.col-sm-3
          .form-group= f.input :beginning, as: 'string', required: true, input_html: {class: "form-control date"}
        .col-xs-12.col-md-3.col-sm-3
          .form-group= f.input :conclusion,as: 'string', required: true, input_html: {class: "form-control date"}
      .row
        .col-xs-12.col-md-2.col-sm-4
          .form-group= f.input :zipcode, required: true, input_html: {class: "form-control zipcode"}
        .col-xs-12.col-sm-2.col-md-3= link_to '<i class="fa fa-search"></i>'.html_safe, "javascript:getZipCode('former_student')", title: "Buscar endereço", class: 'btn btn-default btn-zip'
      .row
        .col-xs-12.col-md-6.col-sm-6
          .form-group= f.input :street, required: true, input_html: {class: "form-control"}
        .col-xs-12.col-md-2.col-sm-2
          .form-group= f.input :number, required: true, input_html: {class: "form-control"}
        .col-xs-12.col-md-4.col-sm-4
          .form-group= f.input :complement, input_html: {class: "form-control"}
      .row
        .col-xs-12.col-md-4.col-sm-4
          .form-group= f.input :district, input_html: {class: "form-control"}
        .col-xs-12.col-md-4.col-sm-4
          .form-group= f.input :city, required: true, input_html: {class: "form-control"}
        .col-xs-12.col-md-4.col-sm-4
          .form-group= f.input :state, required: true, input_html: {class: "form-control"}

      h4 Informações complementares
      .row
        .form-group.col-xs-12.col-md-6.col-sm-6= f.input :about, as: 'text', required: true, input_html: {class: "form-control"}
      .row
        .form-group.col-xs-12.col-md-6.col-sm-6.checkbox
          p
            small Receber comunicados relacionados aos ex-alunos e ao Sagrado.
          = f.input :newsletter, label: "Desejo me cadastrar para receber o informativo Sagrado."

      = f.submit "Cadastrar", class: "btn btn-info", data: {disable_with: "Enviando Aguarde..."}

- content_for :script do

  javascript:
    $("#new_former_student").validate();
