= simple_form_for [:company, @company], html: { class: 'form-admin' } do |f|
  .group
    h2 Dados gerais
    p: small Nome do lava car, descrição, assim como, informações de contato e dados de identificação.
    .row
      .col-12.col-sm-12
        .row
          .col-12.col-sm-6
            .form-group
              = f.input :name, input_html: {class: 'form-control'}
          .col-12.col-sm-6
            .form-group
              = f.input :email, input_html: {class: 'form-control'}
        .row
          .col-12.col-sm-6
            .form-group
              = f.input :phone, input_html: {class: 'form-control phone'}
          .col-12.col-sm-6
            .form-group
              = f.input :mobile, input_html: {class: 'form-control phone'}

        .row
          .col-12.col-sm-6
            .form-group
              = f.input :identifier, input_html: {class: 'form-control'}
          .col-12.col-sm-6
            .form-group
              = f.input :registration, input_html: {class: 'form-control'}

        .form-group
          = f.input :description, input_html: {class: 'form-control'}

  .group
    h2 Endereço
    p: small Localização do lava car.

    .row
      .col-12.col-sm-4
        .form-group= f.input :city_id, collection: City.all, prompt: false, input_html: {class: 'form-control'}

  .group
    h2 Disponibilidade
    p: small Horário de funcionamento do lava car.
    = f.simple_fields_for :availabilities do |ff|
      = render 'availability_fields', f: ff
    .links
      hr
      .row
        .col-xs-12.col-sm-10.col-md-10
          = link_to_add_association 'adicionar', f, :availabilities, class: "btn btn-success btn-block"

  .group
    h2 Serviços extras
    p: small Serviços oferecidos pelo lava car.
    .row
      = f.association :services, collection: Service.active, as: :check_boxes, label: false, item_wrapper_class: 'col-12 col-sm-3'

  .group.last
    .form-group
      .checkbox
        = f.input :active, label: "Empresa Ativa?"

  = f.button :submit, class: "btn btn-success text-uppercase", data: {disable_with: "aguarde..."}
