.section
  #accordion.accordion-companies role="tablist"

    - @schedules.each_with_index do |schedule, index|
      .card
        .card-header role="tab" id="heading#{index}"
          .row
            .col.col-sm-4
              = link_to "#collapse#{index}", data: {toggle: 'collapse'}, aria: {expanded: 'true', controls: "collapse#{index}"} do
                i.icon.dripicons-calendar
                h5.mb-0= schedule.user
                p: small <i class="dripicons-calendar"></i> #{l(schedule.date, format: :short)}
            .col.col-sm-4.text-center
              - if schedule.cancelled_at
                span.label.label-danger Cancelado
              - else
                - if schedule.finished_at?
                  span.label.label-success Finalizado
                - else
                  span.label.label-info Pendente
            .col.col-sm-4

        .collapse id="collapse#{index}" role="tabpanel" aria-labelledby="heading#{index}" data-parent="#accordion"
          .card-body
            .row
              .col-12.col-sm-4
                p <strong>Cliente: </strong>#{schedule.user}
              .col-12.col-sm-4
                p <strong>Data de agendamento: </strong>#{l(schedule.date, format: :custom)}
              .col-12.col-sm-4
                p <strong>Empresa: </strong>#{schedule.company}
            .row
              .col-12.col-sm-4
                p <strong>Telefone: </strong>#{schedule.user.phone.present? ? schedule.user.phone : "Não informado"}
              .col-12.col-sm-4
                p <strong>Celular: </strong>#{schedule.user.mobile.present? ? schedule.user.mobile : "Não informado"}
              .col-12.col-sm-4
                p <strong>E-mail: </strong>#{schedule.user.email}
