- content_for :head do
  title AppWash - Agendamentos

.section.mt-30.mb-30
  .container
    .row
      .col-12.col-sm-4
        .title-section.section
          h1 Agendamentos
          ol.breadcrumb
            li.breadcrumb-item= link_to '<i class="dripicons-home"></i>'.html_safe, [:company], title: 'Dashboard'
            li.breadcrumb-item.active Agendamentos

          .aside.section
            = simple_form_for :search, url: [:status, :company, :schedules], html: {class: "form-search"}, method: :get, remote: true do |f|
              .form-group
                = f.input :status, collection: ["Pendente", "Finalizado"], prompt: false, input_html: { class: "form-control" }, label: false
              = f.submit "Pesquisar", class: "btn btn-secondary"

          .aside.section
            = simple_form_for :search, url: [:date, :company, :schedules], html: {class: "form-search"}, method: :get, remote: true do |f|
              .form-group
                = f.input :date, as:'string', prompt: false, input_html: { class: "form-control date" }, label: false
              = f.submit "Pesquisar", class: "btn btn-secondary"
      .col-12.col-sm-8

        .result-set
          .section
            = render "#{@partial}"
          .section
            = paginate @schedules
