- content_for :head do
  title AppWash - Agendamentos do Dia

.section.mt-30.mb-30
  .container
    .row
      .col-12.col-sm-4
        .title-section.section
          h1 Agendamentos do Dia
          ol.breadcrumb
            li.breadcrumb-item= link_to '<i class="dripicons-home"></i>'.html_safe, [:company], title: 'Dashboard'
            li.breadcrumb-item.active Agendamentos do Dia

      .col-12.col-sm-8
        .result-set
          .section
            = render "#{@partial}"
          .section
            = paginate @schedules
