.section
  #accordion.accordion-companies role="tablist"

    - @brands.each_with_index do |brand, index|
      .card
        .card-header role="tab" id="heading#{index}"
          .row
            .col.col-sm-4
              = link_to "#collapse#{index}", data: {toggle: 'collapse'}, aria: {expanded: 'true', controls: "collapse#{index}"} do
                i.icon.dripicons-jewel
                h5.mb-0= brand.name
                p: small <i class="dripicons-calendar"></i> #{l(brand.created_at, format: :short)}
            .col.col-sm-4.text-center
              - if brand.active?
                span.badge.badge-success Ativo
              - else
                span.badge.badge-danger Inativo
            .col.col-sm-4
              .btn-group.btn-group-sm.float-right.btn-actions role="group" aria-label="Actions group"
                = link_to '<i class="dripicons-pencil"></i>'.html_safe, [:edit, :admin, brand], alt: 'Editar', class: 'btn btn-secondary'
                = link_to '<i class="dripicons-trash"></i>'.html_safe, nil, alt: 'Deletar', class: 'btn btn-secondary disabled'


        .collapse id="collapse#{index}" role="tabpanel" aria-labelledby="heading#{index}" data-parent="#accordion"
          .card-body
            .row
              .col-12.col-sm-12
                - if brand.vehicles.present?
                  .services
                    .row
                      - brand.vehicles.each do |vehicle|
                        .col-12.col-sm-4
                          .service-item <i class="dripicons-checkmark"></i> #{vehicle.name}
