= simple_form_for [:admin, @brand], html: { class: 'form-admin' } do |f|
  .form-group= f.input :name, input_html: {class: 'form-control'}
  .group.last
    h2 Veículos
    #vehicles
      = f.simple_fields_for :vehicles do |vehicle|
        = render 'vehicle_fields', f: vehicle
      .links style="margin-top: 10px;"
        = link_to_add_association 'Adicionar Veículo', f, :vehicles, class: "btn btn-info"

  .form-group
    .checkbox= f.input :active, label: 'Marca Ativa?'

  = f.button :submit, class: "btn btn-success", data: {disable_with: "aguarde..."}
