.nested-fields
  .row
    .col-12.col-sm-1
      = link_to_remove_association '<i class="dripicons-trash"></i>'.html_safe, f, class: "btn btn-danger", style: 'margin-top: 32px;'
    .col-12.col-sm-11
      = f.input :name, input_html: {class: "form-control"}
    .col-12.col-sm-6
      = f.input :model, input_html: {class: "form-control"}
    .col-12.col-sm-2
      = f.input :year, input_html: {class: "form-control date"}
    .col-12.col-sm-4
      = f.input :size, collection: Defaults.vehicle_sizes, prompt: false, input_html: {class: "form-control"}
    .col-12.col-sm-12
      .form-group
        .checkbox= f.input :active, label: 'Veículo Ativo?'

  hr
