- content_for :head do
  title AppWash - Marcas

.section.mt-30.mb-30
  .container
    .row
      .col-12.col-sm-4
        .title-section
          h1 Editar Marca

          ol.breadcrumb
            li.breadcrumb-item= link_to '<i class="dripicons-home"></i>'.html_safe, [:admin], title: 'Dashboard'
            li.breadcrumb-item= link_to 'Marcas', [:admin, :brands], title: 'Marcas'
            li.breadcrumb-item.active Editar Marca

      .col-12.col-sm-8
        = render 'form'
