- content_for :head do
  title Dashboard | AppWash

.section.mt-30
  .container
    .row
      .col-12.col-sm-4
        h2 Olá, Seja bem-vindo(a) #{current_admin}!
        p Você está no painel administrativo do APPWASH, aqui poderá gerenciar suas empresas, seus serviços e agendamentos entre outras coisas.
      .col-12.col-sm-8
        .row
          .col-6.col-sm-3
            = link_to [:admin, :companies], class: 'btn btn-outline-dark btn-dash btn-block' do
              i.dripicons-store
              h3 Empresas

          .col-6.col-sm-3
            = link_to [:admin, :user_schedules], class: 'btn btn-outline-dark btn-dash btn-block' do
              i.dripicons-calendar
              h3 Agendamentos

          .col-6.col-sm-3
            = link_to [:admin, :subscriptions], class: 'btn btn-outline-dark btn-dash btn-block' do
              i.dripicons-tags
              h3 Subscrições

          .col-6.col-sm-3
            = link_to [:admin, :invoices], class: 'btn btn-outline-dark btn-dash btn-block' do
              i.dripicons-wallet
              h3 Pagamentos

          .col-6.col-sm-3
            = link_to [:admin, :plans], class: 'btn btn-outline-dark btn-dash btn-block' do
              i.dripicons-document
              h3 Planos

          .col-6.col-sm-3
            = link_to [:admin, :brands], class: 'btn btn-outline-dark btn-dash btn-block' do
              i.dripicons-jewel
              h3 Marcas

          .col-6.col-sm-3
            = link_to [:admin, :services], class: 'btn btn-outline-dark btn-dash btn-block' do
              i.dripicons-briefcase
              h3 Serviços

          .col-6.col-sm-3
            = link_to [:admin, :holidays], class: 'btn btn-outline-dark btn-dash btn-block' do
              i.dripicons-brightness-low
              h3 Feriados

          .col-6.col-sm-3
            = link_to [:admin, :users], class: 'btn btn-outline-dark btn-dash btn-block' do
              i.dripicons-user-group
              h3 Usuários
