.row
  .col-12.col-sm-12
    = f.input :company_id, as: 'hidden'
    .row
      .col-12.col-sm-4
        = f.input :zipcode, input_html: {class: "form-control zipcode"}, label: 'CEP'
      .col-12.col-sm-4
        = f.input :street, input_html: {class: "form-control"}
      .col-12.col-sm-2
        = f.input :number, input_html: {class: "form-control"}
      .col-12.col-sm-4
        = f.input :neighborhood, input_html: {class: "form-control"}
      .col-12.col-sm-2
        = f.input :complement, input_html: {class: "form-control"}
      .col-12.col-sm-4
        = f.input :state, collection: State.all.order(name: :asc), input_html: {class: "form-control"}
      .col-12.col-sm-4
        = f.input :city, as: 'hidden', input_html: {value: "Abadia de Goiás"}
