.nested-fields
  .row
    .col-12.col-sm-4
      = f.input :id, as: 'hidden'
      = f.input :week_day, collection: Defaults.week_days, prompt: false, input_html: {class: "form-control"}, readonly: false, label: 'Dia da semana'
    .col-12.col-sm-2
      = f.input :init, input_html: {class: "form-control"}, label: 'Abre'
    .col-12.col-sm-2
      = f.input :ends, input_html: {class: "form-control"}, label: 'Fecha'
    .col-12.col-sm-2
      = link_to_remove_association '<i class="dripicons-trash"></i>'.html_safe, f, class: "btn btn-danger", style: 'margin-top: 30px;'
