.section
  #accordion.accordion-companies role="tablist"

    - @companies.each_with_index do |company, index|
      .card
        .card-header role="tab" id="heading#{index}"
          .row
            .col.col-sm-4
              = link_to "#collapse#{index}", data: {toggle: 'collapse'}, aria: {expanded: 'true', controls: "collapse#{index}"} do
                i.icon.dripicons-store
                h5.mb-0= company.name
                p: small <i class="dripicons-calendar"></i> #{l(company.created_at, format: :short)}
            .col.col-sm-4.text-center
              - if company.active?
                span.badge.badge-success Ativo
              - else
                span.badge.badge-danger Inativo
            .col.col-sm-4
              .btn-group.btn-group-sm.float-right.btn-actions role="group" aria-label="Actions group"
                = link_to '<i class="dripicons-pencil"></i>'.html_safe, [:edit, :admin, company], alt: 'Editar', class: 'btn btn-secondary'
                = link_to '<i class="dripicons-trash"></i>'.html_safe, nil, alt: 'Deletar', class: 'btn btn-secondary disabled'

        .collapse id="collapse#{index}" role="tabpanel" aria-labelledby="heading#{index}" data-parent="#accordion"
          .card-body
            .row
              - if company.image.present?
                .col-12.col-sm-4
                  = image_tag company.image, alt: company.name, class: 'img-fluid img-thumbnail'
                .col-12.col-sm-8
                  h3= company.name
                  p #{company.address} <br> <strong>E-mail: </strong> #{company.email}
                  p= company.description
                  p <strong>Telefone: </strong> #{company.phone} &emsp;&emsp; #{company.mobile.present? ? '<strong>Celular: </strong>'.html_safe+ company.mobile  : ''}

                .col-12.col-sm-12
                  - if company.availabilities.present?
                    h4 Disponibilidade
                    table.table.table-responsive
                      thead
                        tr
                          - company.availabilities.each do |availability|
                            th= availability.week_day
                      tbody
                        tr
                          - company.availabilities.each do |availability|
                            td #{availability.init}:00h <br> #{availability.ends}:00h

                  - if company.services.present?
                    h4 Serviços
                    .services
                      .row
                        - company.services.each do |service|
                          .col-12.col-sm-4
                            .service-item <i class="dripicons-checkmark"></i> #{service.name}

              - else
                .col-12.col-sm-12
                  h3= company.name
                  p #{company.address} <br> <strong>E-mail: </strong> #{company.email}
                  p= company.description
                  p <strong>Telefone: </strong> #{company.phone} &emsp;&emsp; #{company.mobile.present? ? '<strong>Celular: </strong>'.html_safe+ company.mobile  : ''}

                .col-12.col-sm-12
                  - if company.availabilities.present?
                    h4 Disponibilidade
                    table.table.table-responsive
                      thead
                        tr
                          - company.availabilities.each do |availability|
                            th= availability.week_day
                      tbody
                        tr
                          - company.availabilities.each do |availability|
                            td #{availability.init}:00h <br> #{availability.ends}:00h

                  - if company.services.present?
                    h4 Serviços
                    .services
                      .row
                        - company.services.each do |service|
                          .col-12.col-sm-4
                            .service-item <i class="dripicons-checkmark"></i> #{service.name}
