= simple_form_for [:admin, @company], html: { class: 'form-admin' } do |f|
  .group
    h2 Dados gerais
    p: small Nome do lava car, informações de contato, descrição, endereço, disponibilidade e serviços extras.
    .row
      .col-12.col-sm-3
        #image
          = image_tag(f.object.image.present? ? f.object.image : "http://placehold.it/1000x703", class: 'img-thumbnail img-responsive')
          small Dimenões recomendadas 1000x703 pixels
          .form-group
            label.custom-file
              = f.input :image, as: :file, input_html: { onchange: 'javascript:imagePreview(this, event, "#image")', class: 'custom-file-input'}, label: false
              span.custom-file-control
      .col-12.col-sm-9
        .row
          .col-12.col-sm-6
            .form-group
              = f.input :name, input_html: {class: 'form-control'}
          .col-12.col-sm-6
            .form-group
              = f.input :email, input_html: {class: 'form-control'}
        .row
          .col-12.col-sm-6
            .form-group
              = f.input :phone, input_html: {class: 'form-control phone'}
          .col-12.col-sm-6
            .form-group
              = f.input :mobile, input_html: {class: 'form-control phone'}

        .row
          .col-12.col-sm-6
            .form-group
              = f.input :identifier, input_html: {class: 'form-control cnpj'}
          .col-12.col-sm-6
            .form-group
              = f.input :registration, input_html: {class: 'form-control'}

        .form-group
          = f.input :description, input_html: {class: 'form-control'}
        - if f.object.new_record?
          .form-group
            = f.input :password, input_html: {class: 'form-control'}, label: '<abbr title="Obrigatório">*</abbr> Senha <small id="passwordHelpBlock" class="form-text text-muded">A senha criada será utilizada pela empresa para acessar o Painel Admin.</small>'.html_safe
            small#passwordHelpBlock.form-text.text-muded Informe uma senha com no mínimo 6 caracteres e máximo 32 caracteres.

  .group
    h2 Endereço
    p: small Localização do lava car.

    .row
      .col-12.col-sm-4
        .form-group= f.input :city_id, collection: City.all.order(name: :asc), prompt: false, input_html: {class: 'form-control', onchange: 'changeCity(this)'}

    = f.simple_fields_for :address do |address|
      = render 'address_fields', f: address

  .group
    h2 Disponibilidade
    p: small Horário de funcionamento do lava car.
    = f.simple_fields_for :availabilities do |ff|
      = render 'availability_fields', f: ff
    .links
      hr
      = link_to_add_association 'Adicionar', f, :availabilities, class: "btn btn-success"

  .group
    h2 Limite de carros por hora
    .row
      .col-xs-12.col-sm-3.col-md-3
        = f.input :limit_per_hour, input_html: {class: "form-control"}, label: 'Limite por hora'

  .group
    h2 Serviços extras
    p: small Serviços oferecidos pelo lava car.
    .row
      = f.association :services, collection: Service.extra.active, as: :check_boxes, label: false, item_wrapper_class: 'col-12 col-sm-3'

  .group.last
    .form-group
      .checkbox
        = f.input :active, label: "Empresa Ativa?"

  = f.button :submit, class: "btn btn-success text-uppercase", data: {disable_with: "aguarde..."}


- content_for :script do
  javascript:

    $( document ).ready(function() {
      applyInputMasks();
    });

    function imagePreview(input, event, place) {
      console.log(place);
      if(input.files && input.files[0]) {
        var target = $(input).parents(place).find('img');
        var reader = new FileReader();
        reader.onload = function(e) { target.attr('src', e.target.result).width(800); }
      }
      reader.readAsDataURL(input.files[0]);
    }

    function changeCity(e){
      city = $('#company_city_id option:selected').text();
      $('#company_address_attributes_city').val(city);
    }
