- content_for :head do
  title AppWash - Nova Empresa

.section.mt-30.mb-30
  .container
    .row
      .col-12.col-sm-4
        .title-section
          h1 Nova Empresa
          p: small Crie um novo lava car.

          ol.breadcrumb
            li.breadcrumb-item= link_to '<i class="dripicons-home"></i>'.html_safe, [:admin], title: 'Dashboard'
            li.breadcrumb-item= link_to 'Empresas', [:admin, :companies], title: 'Empresas'
            li.breadcrumb-item.active Nova Empresa
      .col-12.col-sm-8
        = render 'form'
