= simple_form_for [:admin, @holiday], html: { class: 'form-admin' } do |f|
  .group.last
    .row
      .col-12.col-sm-4
        .form-group= f.input :date, as: 'string', input_html: {class: 'form-control date', value: "#{f.object.date.present? ? l(f.object.date) : l(Date.today)}"}
      .col-12.col-sm-4
        .form-group= f.input :state_id, collection: @states, prompt: false, selected: @selected.id, input_html: {class: 'form-control', onchange: "getCities(this)"}
      .col-12.col-sm-4
        .cities_select
          = render 'cities_select', f: f
  .form-group
    .checkbox= f.input :active, label: 'Feriado Ativo?'

  = f.button :submit, class: "btn btn-success text-uppercase", data: {disable_with: "aguarde..."}


- content_for :script do
  javascript:

    function getCities(e){
      console.log(e);
      $.get( "cities_by_state/"+e.value, function( data ) {
        $( ".cities_select" ).html( data );
      });
    }

    $('.date').datepicker({
      format: 'dd/mm/yyyy'
    });
