.section
  #accordion.accordion-companies role="tablist"

    - @holidays.each_with_index do |holiday, index|
      .card
        .card-header role="tab" id="heading#{index}"
          .row
            .col.col-sm-4
              = link_to "#collapse#{index}", data: {toggle: 'collapse'}, aria: {expanded: 'true', controls: "collapse#{index}"} do
                i.icon.dripicons-brightness-low
                h5.mb-0= holiday.city
                p: small <i class="dripicons-calendar"></i> #{l(holiday.date, format: :short)}
            .col.col-sm-4.text-center
              - if holiday.active?
                span.badge.badge-success Ativo
              - else
                span.badge.badge-danger Inativo
            .col.col-sm-4
              .btn-group.btn-group-sm.float-right.btn-actions role="group" aria-label="Actions group"
                = link_to '<i class="dripicons-pencil"></i>'.html_safe, [:edit, :admin, holiday], alt: 'Editar', class: 'btn btn-secondary'
                = link_to '<i class="dripicons-trash"></i>'.html_safe, [:admin, holiday], method: 'delete', data: {confirm: "Tem certeza que deseja remover o feriado: #{holiday}? "}, alt: 'Deletar', class: 'btn btn-secondary'
