.section.no-result
  .icon
    i.dripicons-brightness-low

  h3 Sua busca não retornou nenhum feriado para exibição.
  .clearfix
  = link_to 'Limpar busca', [:admin, :holidays], title: "Limpar busca", class: 'btn btn-outline-info text-uppercase btn-small', style: 'margin-top: 30px;'
