.section
  - if params[:action] == "search" || params[:action] == "filter"
    h3.title(style="margin-top: 0;")
    .row
      .col-xs-12.col-sm-12.col-md-12
        h2 Resultados da busca
      .col-xs-12.col-sm-12.col-md-12
        = link_to 'Limpar busca', [:admin, :holidays], title: "Limpar busca", class: 'btn btn-outline-info text-uppercase btn-small'


= render 'holidays'
