- content_for :head do
  title AppWash - Feriados

.section.mt-30.mb-30
  .container
    .row
      .col-12.col-sm-4
        .title-section
          h1 Editar Feriado

          ol.breadcrumb
            li.breadcrumb-item= link_to '<i class="dripicons-home"></i>'.html_safe, [:admin], title: 'Dashboard'
            li.breadcrumb-item= link_to 'Feriados', [:admin, :holidays], title: 'Feriados'
            li.breadcrumb-item.active Editar Feriado
      .col-12.col-sm-8
        = render 'form'
