- content_for :head do
  title AppWash - Feriados


.section.mt-30.mb-30
  .container
    .row
      .col-12.col-sm-4
        .title-section.section
          h1 Feriados
          ol.breadcrumb
            li.breadcrumb-item= link_to '<i class="dripicons-home"></i>'.html_safe, [:admin], title: 'Dashboard'
            li.breadcrumb-item.active Feriados
          = link_to 'Novo Feriado', [:new, :admin, :holiday], class: 'btn btn-primary text-uppercase'

        .aside.section style='margin-top: 30px;'
          .title-aside Filtrar por cidade
          = simple_form_for :search, url: [:search_by_city, :admin, :holidays], html: {class: "form-search"}, method: :get, remote: true do |f|
            .form-group
              = f.input :city, collection: City.all.order(name: :asc), input_html: { class: "form-control" }, label: false, prompt: false
            = f.submit "Filtrar", class: "btn btn-secondary text-uppercase"

        .aside.section style='margin-top: 15px;'
          .title-aside Filtrar por estado
          = simple_form_for :search, url: [:search_by_state, :admin, :holidays], html: {class: "form-search"}, method: :get, remote: true do |f|
            .form-group
              = f.input :state, collection: State.all.order(name: :asc), input_html: { class: "form-control" }, label: false, prompt: false
            = f.submit "Filtrar", class: "btn btn-secondary text-uppercase"

        .aside.section style='margin-top: 15px;'
          .title-aside Filtrar por data
          = simple_form_for :search, url: [:search_by_date, :admin, :holidays], html: {class: "form-search"}, method: :get, remote: true do |f|
            .form-group
              = f.input :date, input_html: { class: "form-control date" }, label: false, as: 'search', placeholder: 'Buscar Feriado'
            = f.submit "Filtrar", class: "btn btn-secondary text-uppercase"

      .col-12.col-sm-8
        .result-set
          .section
            = render "#{@partial}"
          .section
            = paginate @holidays

- content_for :script do

  javascript:
    $('.date').datepicker({
      format: 'dd/mm/yyyy'
    });
