.col-xs-12.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2
  .login-box
    .text-center
      = link_to [:root], class: 'logo', title: 'AppWash' do
        = image_tag "logo.png", alt: 'AppWash'
    h2.text-center style="margin: 0 0 30px;" <strong>Cadastre uma nova senha!</strong>

    .row
      .col-xs-12.col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = f.error_notification
          = f.input :reset_password_token, as: :hidden
          = f.full_error :reset_password_token

          .form-group
            = f.input :password, label: "Nova Senha", required: true, autofocus: true, input_html: {class: "form-control"}, hint: ("#{@minimum_password_length} caracteres no mínimo" if @minimum_password_length)
          .form-group
            = f.input :password_confirmation, label: "Confirme sua nova senha", required: true, input_html: {class: "form-control"}

          = f.button :submit, "Cadastrar senha", class: "btn btn-warning btn-block"
