.col-xs-12.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2
  .login-box
    .text-center
      = link_to [:root], class: 'logo', title: 'AppWash' do
        = image_tag "#{@unity.logo}", alt: 'AppWash'

    h2.text-center Recuperar Senha
    p.text-center Caso precise recuperar sua senha, informe seu e-mail no campo a direita e clique no botão "recuperar senha", feito isso, dentro de alguns minutos receberá em seu e-mail um link com instruções para recuperação de senha.

    .row
      .col-xs-12.col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = f.error_notification
          .form-group
            = f.input :email, required: true, autofocus: true, input_html: {class:"form-control"}
          .text-center
            = f.button :submit, "Recuperar Senha", class: 'btn btn-success', style: 'color: #FFF; margin-bottom: 10px;'
        .text-center
          = render "devise/shared/links"
