.section
  #accordion.accordion-companies role="tablist"

    - @invoices.each_with_index do |invoice, index|
      .card
        .card-header role="tab" id="heading#{index}"
          .row
            .col.col-sm-8
              = link_to "#collapse#{index}", data: {toggle: 'collapse'}, aria: {expanded: 'true', controls: "collapse#{index}"} do
                i.icon.dripicons-wallet
                h5.mb-0= l(invoice.created_at, format: :short)
                p: small= invoice.total
            .col.col-sm-4.text-center
                span.badge.badge-info= invoice.status

        .collapse id="collapse#{index}" role="tabpanel" aria-labelledby="heading#{index}" data-parent="#accordion"
          .card-body
            .row
                .col-12.col-sm-12
                  p <strong>Total: </strong> #{invoice.total.present? ? invoice.total : 'Não informado' }
                  p <strong>Descrição: </strong> #{invoice.description.present? ? invoice.description : 'Não informado' }
