.row.justify-content-center
  .col-12.col-md-8
    .login-box
      .row
        .col
          = link_to [:root], class: 'logo', title: 'APPWASH' do
            = image_tag "logo.png", alt: 'APPWASH'

          p: small <i class="dripicons-lock"></i> Caro usuário, este acesso é restrito! Se você não é um funcionário do <strong>APPWASH</strong> com permissão de acesso, por favor clique no link "Voltar ao site". A partir daqui seu acesso será monitorado. (IP #{request.ip})

        .col
          h1 Acesse sua conta
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-vertical"}) do |f|
            .form-group
              = f.input :email, required: false, autofocus: true, input_html: {class: "form-control"}, label: 'E-mail'
            .form-group
              = f.input :password, required: false , input_html: {class: "form-control"}, label: 'Senha'

            = f.input :remember_me, as: :boolean, label: "Lembrar-me neste computador?" if devise_mapping.rememberable?

            = f.button :submit, "Acessar", class: "btn btn-primary btn-block text-uppercase"
