.col-xs-12.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2
  .login-box
    - if flash[:notice]
      .pgn.push-on-sidebar-open.pgn-simple
        .alert.alert-info.alert-dismissible.fade.in
          button.close type="button" data-dismiss="alert" aria-label="Close"
            span aria-hidden="true" &times;
          strong #{flash[:notice]}
    - if flash[:alert] || flash[:error]
      .pgn.push-on-sidebar-open.pgn-simple
        .alert.alert-danger.alert-dismissible.fade.in
          button.close type="button" data-dismiss="alert" aria-label="Close"
            span aria-hidden="true" &times;
          strong #{flash[:alert]} #{flash[:error]}

    .row
      .col-xs-12.col-sm-8.col-md-7
        = link_to [:root], class: 'logo', title: 'Rede Sagrado Sul' do
          = image_tag "#{@unity.logo}", alt: 'Rede Sagrado Sul'

        h2 Bem-vindo Ex-Educando
        p Encontre seus colegas e relembre boas histórias.

        = link_to "Cadastre-se".html_safe, [:new_former_student_registration], title: "Cadastre-se", class:"btn btn-default btn-xs", style: 'margin-right: 8px;'
        = link_to "&larr; Voltar ao site".html_safe, [:root], title: "Voltar ao site da Rede Sagrado Sul", class:"btn btn-default btn-xs"

      .col-xs-12.col-sm-4.col-md-5
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-vertical"}) do |f|
          .row
            .form-group.col-xs-12.col-sm-12.col-md-12= f.input :email, required: false, autofocus: true, input_html: {class: "form-control"}, label: "Login:"
            .form-group.col-xs-12.col-sm-12.col-md-12= f.input :password, required: false , input_html: {class: "form-control"}, label: "Senha de acesso:"
          .checkbox= f.input :remember_me, as: :boolean, label: "Lembrar-me neste computador?" if devise_mapping.rememberable?
          = render "devise/shared/links"
          = f.button :submit, "Acessar", class: "btn btn-default btn-block", style: 'margin-top: 8px;'
