.col-xs-12.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2
  .login-box
    .row
      .col-xs-12.col-sm-8.col-md-7
        = link_to [:root], class: 'logo', title: 'Rede Sagrado Sul' do
          = image_tag "#{@unity.logo}", alt: 'Rede Sagrado Sul'

        p <i class="fa fa-lock"></i> Caro usuário, este acesso é restrito! Se você não é um funcionário da <strong>Rede Sagrado Sul de Educação</strong> com permissão de acesso, por favor clique no link "Voltar ao site". A partir daqui seu acesso será monitorado. (IP #{request.ip})

      .col-xs-12.col-sm-4.col-md-5
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-vertical"}) do |f|
          .row
            .form-group.col-xs-12.col-sm-12.col-md-12= f.input :email, required: false, autofocus: true, input_html: {class: "form-control"}, label: "Login administrador:"
            .form-group.col-xs-12.col-sm-12.col-md-12= f.input :password, required: false , input_html: {class: "form-control"}, label: "Senha de acesso:"
          .checkbox= f.input :remember_me, as: :boolean, label: "Lembrar-me neste computador?" if devise_mapping.rememberable?
          .form-group.text-center
            = link_to "Esqueceu sua senha?", new_password_path(resource_name)
          = f.button :submit, "Acessar", class: "btn btn-default btn-block"
