= simple_form_for [:admin, @plan], html: { class: 'form-admin' } do |f|
  .group
    h2 Dados gerais
    p: small Informações gerais do plano.
    .row
      .col-12.col-sm-9
        .form-group
          = f.input :title, input_html: {class: 'form-control'}
      .col-12.col-sm-3
        .form-group
          label for="price" Preço
          = f.input :price, as: 'string', input_html: {class: 'form-control currency', value: @plan.new_record? ? '0,00' : number_to_currency(@plan.price, unit: "R$", separator: ",", delimiter: "") }, aria: { descripedby: 'price-addon2' }, wrapper_html: { class: 'input-group' }, label: 'R$', label_html: { class: 'input-group-addon' }
    .form-group= f.input :description, input_html: {class: 'form-control'}

  .group.last
    h2 Serviços
    p: small Serviços que contemplam o plano.

    #services
        = f.simple_fields_for :plan_services do |plan_service|
          = render 'plan_service_fields', f: plan_service
        .links style="margin-top: 10px;"
          = link_to_add_association 'Adicionar Serviços', f, :plan_services, class: "btn btn-info"

  .form-group
    .checkbox= f.input :active, label: 'Plano Ativo?'

  .group.last
    = f.button :submit, class: "btn btn-success", data: {disable_with: "aguarde..."}


- content_for :script do
  javascript:

    $( document ).ready(function() {
      applyInputMasks();
    });
