.section.no-result
  .icon
    i.dripicons-documents

  h3 Sua busca não retornou nenhuma empresa para exibição.
  .clearfix
  = link_to 'Limpar busca', [:admin, :plans], title: "Limpar busca", class: 'btn btn-outline-info text-uppercase btn-small', style: 'margin-top: 30px;'
