.nested-fields
  .row
    .col-12.col-sm-6
      = f.input :service_id, collection: Service.active, prompt: false, input_html: {class: "form-control"}
    .col-12.col-sm-2
      = f.input :quantity, input_html: {class: "form-control", value: "#{f.object.quantity.present? ? f.object.quantity : 1}"}
    .col-12.col-sm-2
      = link_to_remove_association '<i class="dripicons-trash"></i>'.html_safe, f, class: "btn btn-danger", style: 'margin-top: 32px;'
