.section
  #accordion.accordion-companies role="tablist"

    - @plans.each_with_index do |plan, index|
      .card
        .card-header role="tab" id="heading#{index}"
          .row
            .col.col-sm-4
              = link_to "#collapse#{index}", data: {toggle: 'collapse'}, aria: {expanded: 'true', controls: "collapse#{index}"} do
                i.icon.dripicons-document
                h5.mb-0= plan.title
                p: small <i class="dripicons-calendar"></i> #{l(plan.created_at, format: :short)}

            .col.col-sm-4.text-center
              - if plan.active?
                span.badge.badge-success Ativo
              - else
                span.badge.badge-danger Inativo
            .col.col-sm-4
              .btn-group.btn-group-sm.float-right.btn-actions role="group" aria-label="Actions group"
                = link_to '<i class="dripicons-pencil"></i>'.html_safe, [:edit, :admin, plan], alt: 'Editar', class: 'btn btn-secondary'
                = link_to '<i class="dripicons-trash"></i>'.html_safe, nil, alt: 'Deletar', class: 'btn btn-secondary disabled'


        .collapse id="collapse#{index}" role="tabpanel" aria-labelledby="heading#{index}" data-parent="#accordion"
          .card-body
            .row
              .col-12.col-sm-12
                h3= plan.title
                p= plan.description
                p <strong>Preço Veículo Médio: </strong> #{plan.price} &emsp;&emsp; <strong>Preço Veículo Grande: </strong> #{plan.price}

              .col-12.col-sm-12
                - if plan.services.present?
                  h4 Serviços
                  .services
                    .row
                      - plan.services.each do |service|
                        .col-12.col-sm-4
                          .service-item <i class="dripicons-checkmark"></i> #{service.name}
