- content_for :head do
  title AppWash - Planos

.section.mt-30.mb-30
  .container
    .row
      .col-12.col-sm-4
        .title-section.section
          h1 Novo Plano
          ol.breadcrumb
            li.breadcrumb-item= link_to '<i class="dripicons-home"></i>'.html_safe, [:admin], title: 'Dashboard'
            li.breadcrumb-item= link_to "Planos", [:admin, :plans], title: 'Planos'
            li.breadcrumb-item.active Novo Plano

      .col-12.col-sm-8
        = render 'form'
