- content_for :head do
  title Dashboard | AppWash

.section.mt-30
  .container
    .row
      .col-12.col-sm-4
        h2 Olá, Seja bem-vindo(a) #{current_company}!
        p Você está no painel administrativo do APPWASH, aqui poderá visualizar seus agendamentos e marca-los como atendidos caso o cliente compareça
      .col-12.col-sm-8
        .row
          .col-6.col-sm-3
            = link_to [:todays, :company, :schedules], class: 'btn btn-outline-dark btn-dash btn-block' do
              i.dripicons-calendar
              h3 Agendamentos <br> do dia

          .col-6.col-sm-3
            = link_to [:company, :schedules], class: 'btn btn-outline-dark btn-dash btn-block' do
              i.dripicons-calendar
              h3 Todos <br> Agendamentos
