.section
  #accordion.accordion-companies role="tablist"

    - @availabilities.each_with_index do |availability, index|
      .card
        .card-header role="tab" id="heading#{index}"
          .row
            .col.col-sm-4
              = link_to "#collapse#{index}", data: {toggle: 'collapse'}, aria: {expanded: 'true', controls: "collapse#{index}"} do
                i.icon.dripicons-clock
                h5.mb-0= availability.week_day
                p: small <i class="dripicons-clock"></i> #{availability.init}h:00 - #{availability.ends}h:00
            .col.col-sm-4.text-center
              - if availability.active?
                span.badge.badge-success Ativo
              - else
                span.badge.badge-danger Inativo

            .col.col-sm-4
              .btn-group.btn-group-sm.float-right.btn-actions role="group" aria-label="Actions group"
                = link_to '<i class="dripicons-pencil"></i>'.html_safe, [:edit, :admin, availability], alt: 'Editar', class: 'btn btn-secondary'
                = link_to '<i class="dripicons-trash"></i>'.html_safe, nil, alt: 'Deletar', class: 'btn btn-secondary disabled'
