= simple_form_for [:admin, @availability], html: { class: 'form-admin' } do |f|
  .row
    .col-xs-12.col-sm-4.col-md-4
      .form-group= f.input :week_day, collection: Defaults.week_days, prompt: false, input_html: {class: 'form-control'}
    .col-xs-12.col-sm-3.col-md-3
      .form-group= f.input :init, input_html: {class: 'form-control'}
    .col-xs-12.col-sm-3.col-md-3
      .form-group= f.input :ends, input_html: {class: 'form-control'}
  .form-group
    .checkbox= f.input :active, label: 'Disponibilidade Ativa?'
  = f.button :submit, class: "btn btn-success text-uppercase", data: {disable_with: "aguarde..."}


- content_for :script do
  javascript:

    $( document ).ready(function() {
      applyInputMasks();
    });
