.section.no-result
  .icon
    i.dripicons-clock

  h3 Sua busca não retornou nenhuma disponibilidade para exibição.
  .clearfix
  = link_to 'Limpar busca', [:admin, :availabilities], title: "Limpar busca", class: 'btn btn-outline-info text-uppercase btn-small', style: 'margin-top: 30px;'
