- content_for :head do
  title AppWash - Disponibilidades

.section.mt-30.mb-30
  .container
    .row
      .col-12.col-sm-4
        .title-section.section
          h1 Disponibilidades
          ol.breadcrumb
            li.breadcrumb-item= link_to '<i class="dripicons-home"></i>'.html_safe, [:admin], title: 'Dashboard'
            li.breadcrumb-item.active Disponibilidades
          = link_to 'Nova Disponibilidade', [:new, :admin, :availability], class: 'btn btn-primary text-uppercase'
      .col-12.col-sm-8
        .aside.section
          = simple_form_for :search, url: [:search, :admin, :availabilities], html: {class: "form-search"}, method: :get, remote: true do |f|
            .form-group
              = f.input :term, input_html: { class: "form-control" }, label: false, as: 'search', placeholder: 'Buscar Disponibilidade'

        .result-set
          .section
            = render "#{@partial}"
          .section
            = paginate @availabilities
