- content_for :head do
  title AppWash - Disponibilidades

.section.mt-30.mb-30
  .container
    .row
      .col-12.col-sm-4
        .title-section
          h1 Nova Disponibilidade

          ol.breadcrumb
            li.breadcrumb-item= link_to '<i class="dripicons-home"></i>'.html_safe, [:admin], title: 'Dashboard'
            li.breadcrumb-item= link_to 'Disponibilidades', [:admin, :availabilities], title: 'Disponibilidades'
            li.breadcrumb-item.active Nova Disponibilidade
      .col-12.col-sm-8
        = render 'form'
