/*
 *= require bootstrap.min
 *= require bootstrap-reboot.min
 *= require fotorama
 *= require jquery-fancybox
 *= require bootstrap-datepicker
 *= require jquery.datetimepicker.min
 *= require dripicons
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');

html,body{
  height: 100%;
}
.wrap{
  min-height: 100%;
}
.header, .main, .footer, .section{
  width: 100%;
  height: auto;
  position: relative;
  float: left;
}
a, button, input[type="submit"]{
  transition: .32s ease;
  -webkit-transition: .32s ease;
  -moz-transition: .32s ease;
  -o-transition: .32s ease;
}
body{
  background-color: #F7F7F7;
  border-top: 5px solid #151515;
  font-family: 'Source Sans Pro', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.login{
  padding: 30px 0;
}

.login .logo img{
  display: inline-block;
  height: 96px;
  margin-bottom: 16px;
}
.login-box{
  background-color: #FFF;
  margin: 96px 0;
  padding: 30px;
  border-radius: 6px;
  border: 3px solid rgba(0,0,0,0.08);
}
.login-box h1{
  font-weight: 700;
  font-size: 24px;
}
.login-box label{
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
.login-box input[type="email"], .login-box input[type="password"]{
  font-size: 15px;
  font-weight: 400;
}

.navbar-brand img{
  height: 50px;
}
.header{
  border-bottom: 2px solid #ECECEC;
  background-color: rgba(255,255,255,1);
}
.header .navbar{
  padding: 0 1rem;
}
.header .nav-link{
  height: 76px;
  color: #151515 !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 0 !important;
  line-height: 76px;
  border-bottom: 2px solid transparent;
  margin: 0 1em;
}
.header .nav-link:hover, .header .active .nav-link{
  border-bottom-color: #00b0dd;
}
.btn-dash{
  margin-bottom: 16px;
  border-width: 2px;
  padding: 20px !important;
}
.btn-dash i{
  font-size: 32px;
}
.btn-dash h3{
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.nav-profile{
  position: absolute;
  right: 0;
}
.nav-profile .icon{
  width: 32px;
  height: 32px;
  border: 2px solid #343a40;
  margin: 22px 8px 0 0;
  float: left;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
}
.footer{
  border-top: 2px solid #ECECEC;
  background-color: rgba(255,255,255,1);
  text-align: center;
  padding: 8px;
}
.footer p{
  margin: 0;
}
.mt-30{
  margin-top: 30px;
}
.mb-30{
  margin-bottom: 30px;
}
.title-section h1{
  font-size: 28px;
  font-weight: 700;
  color: #151515;
  margin: 0;
}
.title-section .breadcrumb{
  margin: 16px 0;
  padding: 0;
  background-color: transparent;
}
.title-section .breadcrumb li{
  font-size: 13px;
  text-transform: uppercase;
  color: #151515;
  font-weight: 600;
}
.title-section .breadcrumb li a{
  color: #00B0DD;
}
.title-section .breadcrumb li a:hover, .title-section .breadcrumb li a:focus, .title-section .breadcrumb li a:active{
  color: #151515;
  text-decoration: none;
}
.btn{
  font-weight: 700;
  font-size: 14px;
}
.aside{
  background-color: #FFF;
  padding: 16px;
}
.aside .form-search input[type="search"]{
  border: 2px solid rgba(0,0,0,0.08);
  font-weight: 600;
}
.btn-actions i{
  font-size: 12px;
  color: #FFF;
}
.accordion-companies{
  width: 100%;
  height: auto;
  position: relative;
  float: left;
  margin-bottom: 30px;
}
.accordion-companies .card{
  border-radius: 0;
  border: none;
}
.accordion-companies .card .card-header{
  background-color: #e9ecef;
  border-radius: 0;
  border-bottom: 1px solid rgba(0,0,0,.08);
}
.accordion-companies .card:last-child .card-header{
  border-bottom: none;
}
.accordion-companies .card .card-header a{
  text-decoration: none !important;
  color: #151515;
}
.accordion-companies .card .card-header a .icon{
  position: relative;
  float: left;
  width: 42px;
  height: 42px;
  background-color: rgba(0,0,0,.09);
  border-radius: 50%;
  margin-right: 16px;
  text-align: center;
  line-height: 46px;
  color: #151515;
  font-size: 20px;
  transition: .32s ease;
  -webkit-transition: .32s ease;
  -moz-transition: .32s ease;
  -o-transition: .32s ease;
}
.accordion-companies .card .card-header:hover a .icon{
  background-color: #00B0DD;
  color: #fff;
}
.accordion-companies .card .card-header a h5{
  font-size: 18px;
  font-weight: 600;
}
.accordion-companies .card .card-body h3{
  font-size: 18px;
  font-weight: 700;
}
.accordion-companies .card .card-body h4{
  font-size: 16px;
  font-weight: 700;
  margin: 16px 0;
}
ul.pagination li a, ul.pagination li.active{
  border: none;
  border-radius: 50% !important;
  font-size: 13px;
  font-weight: 700;
  width: 32px;
  height: 32px;
  padding: 0;
  text-align: center;
  line-height: 32px;
  color: #151515;
}
ul.pagination li.active{
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #FFF;
  background-color: #00B0DD;
}
ul.pagination li{
  margin: 0 8px;
}
ul.pagination li.active{
  padding: 0;
  line-height: 32px;
}
.custom-file-control:before{
  content: "Procurar";
  right: auto;
  border-radius: .25rem;
}
.custom-file-control:after{
  content: "";
}
.form-admin .group{
  padding: 16px 0;
  border-bottom: 1px solid rgba(0,0,0,.06);
}
.form-admin .group.last{
  border-bottom: none;
}
.form-admin h2{
  font-size: 24px;
  font-weight: 400;
  color: #FA6C6C;
  margin-bottom: 0;
}
.form-admin p small{
  font-size: 16px;
  color: #999;
}
.form-admin label{
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.form-admin .form-control{
  border: 2px solid rgba(0,0,0,0.08);
  font-weight: 600;
}
.checkbox input[type="checkbox"]{
  margin-right: 8px;
}
.form-admin span.error{
  font-size: 14px;
  color: #FA6C6C;
}
ul.services{
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  height: auto;
  position: relative;
  float: left;
}
ul.services li{
  width: 25%;
  height: auto;
  display: inline-block;
  position: relative;
  float: left;
}
.service-item{
  margin: 8px 0;
  background-color: #F5F5F5;
  padding: 4px 8px;
  border-radius: 4px;
}
.service-item i{
  color: #00b0dd;
  font-weight: 700;
  font-size: 13px;
}

.no-result{
  text-align: center;
  margin: 30px 0;
}
.no-result .icon{
  display: inline-block;
  font-size: 16px;
  border: 2px solid #fa6c6c;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 4px;
  color: #FA6C6C;
  transform: rotate(45deg);
  margin-bottom: 30px;
}
.no-result i{
  transform: rotate(-45deg);
  display: inline-block;
  margin-left: 2px;
}
.no-result h3{
  width: 50%;
  height: auto;
  position: relative;
  float: left;
  margin: 0 25%;
  font-size: 20px;
  font-weight: 700;
}
.input-group-addon{
  border-width: 2px;
  border-color: rgba(0,0,0,0.08);
}
.custom-file-control{
  border: none !important;
  background-color: transparent;
  padding: 0;
}
.form-text{
  font-size: 14px;
  opacity: .6;
}
.title-aside{
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
