= simple_form_for [:admin, @user_schedule], html: { class: 'form-admin' } do |f|
  .row
    .col-xs-12.col-sm-3.col-md-3
      .form-group= f.input :date, as: 'string', readonly: true, input_html: {class: 'form-control datetimepicker', value: "#{f.object.date.present? ? l(f.object.date, format: :custom) : ''}"}
    .col-xs-12.col-sm-3.col-md-3
      .form-group= f.input :expiration, as: 'string', input_html: {class: 'form-control datetimepicker', value: "#{f.object.expiration.present? ? l(f.object.expiration, format: :custom) : ''}"}
    .col-xs-12.col-sm-3.col-md-3
      .form-group= f.input :finished_at, as: 'string', input_html: {class: 'form-control datetimepicker', value: "#{f.object.finished_at.present? ? l(f.object.finished_at, format: :custom) : ''}", onchange: "validateStatusChange(this)"}
    .col-xs-12.col-sm-3.col-md-3
      .form-group= f.input :cancelled_at, as: 'string', input_html: {class: 'form-control datetimepicker', value: "#{f.object.cancelled_at.present? ? l(f.object.cancelled_at, format: :custom) : ''}", onchange: "validateStatusChange(this)"}
  .row
    .col-xs-12.col-sm-12.col-md-12
      .row
        .col-xs-12.col-sm-4.col-md-4
          .form-group= f.association :company, collection: Company.all, prompt: false, input_html: {class: 'form-control'}
        .col-xs-12.col-sm-6.col-md-6
          .form-group= f.association :user, prompt: false,input_html: {class: 'form-control'}

  = f.button :submit, class: "btn btn-success", data: {disable_with: "aguarde..."}


- content_for :script do
  javascript:

    $( document ).ready(function() {
      applyInputMasks();
    });

    $.datetimepicker.setLocale('pt-BR');
    $('.datetimepicker').datetimepicker({
      format:'d/m/Y H:i',
      lang:'pt-BR'
    });

    function validateStatusChange(e){
      if(e.id == "user_schedule_finished_at" ){
        $('#user_schedule_cancelled_at').val('');
      }else{
        $('#user_schedule_finished_at').val('');
      };
    };
