.section.no-result
  .icon
    i.dripicons-calendar

  h3 Sua busca não retornou nenhum agendamento para exibição.
  .clearfix
  = link_to 'Limpar busca', [:admin, :user_schedules], title: "Limpar busca", class: 'btn btn-outline-info text-uppercase btn-small', style: 'margin-top: 30px;'
