.section
  #accordion.accordion-companies role="tablist"

    - @user_schedules.each_with_index do |user_schedule, index|
      .card
        .card-header role="tab" id="heading#{index}"
          .row
            .col.col-sm-4
              = link_to "#collapse#{index}", data: {toggle: 'collapse'}, aria: {expanded: 'true', controls: "collapse#{index}"} do
                i.icon.dripicons-calendar
                h5.mb-0= user_schedule.user
                p: small <i class="dripicons-calendar"></i> #{l(user_schedule.date, format: :short)}
            .col.col-sm-4.text-center
              - if user_schedule.cancelled_at
                span.label.label-danger Cancelado
              - else
                - if user_schedule.finished_at?
                  span.label.label-success Finalizado
                - else
                  span.label.label-info Pendente
            .col.col-sm-4
              .btn-group.btn-group-sm.float-right.btn-actions role="group" aria-label="Actions group"
                = link_to '<i class="dripicons-pencil"></i>'.html_safe, [:edit, :admin, user_schedule], alt: 'Editar', class: 'btn btn-secondary'

        .collapse id="collapse#{index}" role="tabpanel" aria-labelledby="heading#{index}" data-parent="#accordion"
          .card-body
            .row
              .col-12.col-sm-4
                p <strong>Cliente: </strong>#{user_schedule.user}
              .col-12.col-sm-4
                p <strong>Data de agendamento: </strong>#{l(user_schedule.date, format: :custom)}
              .col-12.col-sm-4
                p <strong>Empresa: </strong>#{user_schedule.company}
            .row
              .col-12.col-sm-4
                p <strong>Telefone: </strong>#{user_schedule.user.phone.present? ? user_schedule.user.phone : "Não informado"}
              .col-12.col-sm-4
                p <strong>Celular: </strong>#{user_schedule.user.mobile.present? ? user_schedule.user.mobile : "Não informado"}
              .col-12.col-sm-4
                p <strong>E-mail: </strong>#{user_schedule.user.email}
