- content_for :head do
  title AppWash - Agendamentos

.container
  .row
    .col-xs-12.col-sm-9.col-md-9
      h1.page-title Editar Agendamento
  ol.breadcrumb
    li= link_to '<i class="fa fa-home"></i>'.html_safe, [:admin], title: 'Dashboard'
    li= link_to "Agendamentos", [:admin, :user_schedules], title: 'Agendamentos'
    li.active Editar Agendamentos

.container
  = render 'form'
