- content_for :head do
  title AppWash - Agendamentos

.section.mt-30.mb-30
  .container
    .row
      .col-12.col-sm-4
        .title-section.section
          h1 Agendamentos
          ol.breadcrumb
            li.breadcrumb-item= link_to '<i class="dripicons-home"></i>'.html_safe, [:admin], title: 'Dashboard'
            li.breadcrumb-item.active Agendamentos
          = link_to 'Novo Agendamento', [:new, :admin, :user_schedule], class: 'btn btn-primary text-uppercase d-none'

        .aside.section style='margin-top: 30px;'
          .title-aside Filtrar por empresa
          = simple_form_for :search, url: [:search_by_company, :admin, :user_schedules], html: {class: "form-search"}, method: :get, remote: true do |f|
            .form-group
              = f.input :company, collection: Company.all, prompt: false, input_html: { class: "form-control" }, label: false
            = f.submit "Filtrar", class: "btn btn-secondary text-uppercase"

        .aside.section style='margin-top: 15px;'
          .title-aside Filtrar por usuário
          = simple_form_for :search, url: [:search_by_user, :admin, :user_schedules], html: {class: "form-search"}, method: :get, remote: true do |f|
            .form-group
              = f.input :user, input_html: { class: "form-control", placeholder: 'Buscar por usuário' }, label: false
            = f.submit "Filtrar", class: "btn btn-secondary text-uppercase"

        .aside.section style='margin-top: 15px;'
          .title-aside Filtrar por data
          = simple_form_for :search, url: [:search_by_date, :admin, :user_schedules], html: {class: "form-search"}, method: :get, remote: true do |f|
            .form-group
              = f.input :date, input_html: { class: "form-control date", placeholder: "Buscar por data" }, label: false
            = f.submit "Filtrar", class: "btn btn-secondary text-uppercase"
      .col-12.col-sm-8
        .result-set
          .section
            = render "#{@partial}"
          .section
            = paginate @user_schedules

- content_for :script do

  javascript:
    $('.date').datepicker({
      format: 'dd/mm/yyyy'
    });
