= simple_form_for [:admin, @user], html: { class: 'form-admin' } do |f|
  .group.last
    .row
      .col-12.col-sm-8
        .form-group= f.input :name, input_html: {class: 'form-control'}
      .col-12.col-sm-4
        .form-group= f.input :email, input_html: {class: 'form-control'}
      .col-12.col-sm-4
        .form-group= f.input :identifier, input_html: {class: 'form-control cpf'}
      .col-12.col-sm-4
        .form-group= f.input :phone, input_html: {class: 'form-control phone'}
      .col-12.col-sm-4
        .form-group= f.input :mobile, input_html: {class: 'form-control phone'}

  = f.button :submit, class: "btn btn-success text-uppercase", data: {disable_with: "aguarde..."}


- content_for :script do
  javascript:

    $( document ).ready(function() {
      applyInputMasks();
    });
