.section.no-result
  .icon
    i.dripicons-user

  h3 Sua busca não retornou nenhum usuário para exibição.
  .clearfix
  = link_to 'Limpar busca', [:admin, :users], title: "Limpar busca", class: 'btn btn-outline-info text-uppercase btn-small', style: 'margin-top: 30px;'
