.section
  .aside
    - if params[:action] == "search" || params[:action] == "filter"
      h3 (style="margin-top: 0;")
      h2 Resultados da busca

      = link_to 'Limpar busca', [:admin, :users], title: "Limpar busca", class: 'btn btn-outline-info text-uppercase btn-small'

= render 'users'
