.section
  #accordion.accordion-companies role="tablist"

    - @users.each_with_index do |user, index|
      .card
        .card-header role="tab" id="heading#{index}"
          .row
            .col.col-sm-8
              = link_to "#collapse#{index}", data: {toggle: 'collapse'}, aria: {expanded: 'true', controls: "collapse#{index}"} do
                i.icon.dripicons-user
                h5.mb-0= user.name
                p: small <i class="dripicons-calendar"></i> #{l(user.created_at, format: :short)}

            .col.col-sm-4
              .btn-group.btn-group-sm.float-right.btn-actions role="group" aria-label="Actions group"
                = link_to '<i class="dripicons-pencil"></i>'.html_safe, [:edit, :admin, user], alt: 'Editar', class: 'btn btn-secondary'
                = link_to '<i class="dripicons-trash"></i>'.html_safe, nil, alt: 'Deletar', class: 'btn btn-secondary disabled'

        .collapse id="collapse#{index}" role="tabpanel" aria-labelledby="heading#{index}" data-parent="#accordion"
          .card-body
            .row
              .col-12.col-sm-12
                h3= user.name
                p <strong>Data de cadastro: </strong> #{l(user.created_at)}
                p <strong>Telefone: </strong> #{user.phone.present? ? user.phone : "Não informado"} &emsp;&emsp; <strong>Celular: </strong> #{user.mobile.present? ? user.mobile : "Não informado"} &emsp;&emsp; <strong>E-mail: </strong>#{user.email}
                p <strong>Veículo: </strong>#{user.vehicle}
