- content_for :head do
  title AppWash - Usuários

.section.mt-30.mb-30
  .container
    .row
      .col-12.col-sm-4
        .title-section
          h1 Novo Usuário

          ol.breadcrumb
            li.breadcrumb-item= link_to '<i class="dripicons-home"></i>'.html_safe, [:admin], title: 'Dashboard'
            li.breadcrumb-item= link_to 'Usuários', [:admin, :users], title: 'Usuários'
            li.breadcrumb-item.active Novo Usuário
      .col-12.col-sm-8
        = render 'form'
