.section
  #accordion.accordion-companies role="tablist"

    - @subscriptions.each_with_index do |subscription, index|
      .card
        .card-header role="tab" id="heading#{index}"
          .row
            .col.col-sm-8
              = link_to "#collapse#{index}", data: {toggle: 'collapse'}, aria: {expanded: 'true', controls: "collapse#{index}"} do
                i.icon.dripicons-tags
                h5.mb-0= subscription.user
                p: small <i class="dripicons-calendar"></i> #{l(subscription.created_at, format: :short)}
            .col.col-sm-4.text-center
              span.badge.badge-success #{subscription.situation}

        .collapse id="collapse#{index}" role="tabpanel" aria-labelledby="heading#{index}" data-parent="#accordion"
          .card-body
            .row
                .col-12.col-sm-12
                  p <strong>Plano: </strong> #{subscription.plan}
                  p <strong>Total: </strong> #{number_to_currency(subscription.total, unit: "R$", separator: ",", delimiter: "")}
