- content_for :head do
  title AppWash - Subscrição

.section.mt-30.mb-30
  .container
    .row
      .col-12.col-sm-4
        .title-section.section
          h1 Subscrição
          ol.breadcrumb
            li.breadcrumb-item= link_to '<i class="dripicons-home"></i>'.html_safe, [:admin], title: 'Dashboard'
            li.breadcrumb-item.active Subscrição
          = link_to 'Novo Agendamento', [:new, :admin, :user_schedule], class: 'btn btn-primary text-uppercase d-none'

        .aside.section style='margin-top: 30px;'
          .title-aside Filtrar por empresa
          = simple_form_for :search, url: [:search_by_company, :admin, :subscriptions], html: {class: "form-search"}, method: :get, remote: true do |f|
            .form-group
              = f.input :company, collection: Company.all, prompt: false, input_html: { class: "form-control" }, label: "Empresa", label_html: { class: 'sr-only' }
            = f.submit "Filtrar", class: "btn btn-secondary text-uppercase"

        .aside.section style='margin-top: 15px;'
          .title-aside Filtrar por usuário
          = simple_form_for :search, url: [:search_by_user, :admin, :subscriptions], html: {class: "form-search"}, method: :get, remote: true do |f|
            .form-group
              = f.input :user, input_html: { class: "form-control", placeholder: 'Buscar por usuário' }, label: "Usuário", label_html: { class: 'sr-only' }
            = f.submit "Filtrar", class: "btn btn-secondary text-uppercase"

        .aside.section style='margin-top: 15px;'
          .title-aside Filtrar por plano
          = simple_form_for :search, url: [:search_by_plan, :admin, :subscriptions], html: {class: "form-search"}, method: :get, remote: true do |f|
            .form-group
              = f.input :plan, input_html: { class: "form-control", placeholder: "Buscar por plano" }, label: "Buscar por plano", label_html: { class: 'sr-only' }
            = f.submit "Filtrar", class: "btn btn-secondary text-uppercase"
      .col-12.col-sm-8
        .result-set
          .section
            = render "#{@partial}"
          .section
            = paginate @subscriptions

- content_for :script do
  javascript:

    $.datetimepicker.setLocale('pt-BR');
    $('.datetimepicker').datetimepicker({
      format:'d/m/Y H:i',
      lang:'pt-BR'
    });
