.container
  .row.justify-content-center
    .col-12.col-sm-6
      .login-box.text-center
        = image_tag('logo.png', alt: 'AppWash', class: 'logo', style: 'height: 100px; margin-bottom: 30px;')
        p Sua senha foi alterada com sucesso!

        p
          small &copy;Squarebits Software 2017.
