.container
  .row.login-box
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1
      .row
        .col-xs-12.col-sm-12.col-md-12.hidden-xs
          = image_tag('logo.png', alt: 'AppWash', class: 'logo')
          p Sua conta foi confirmada. Seu cadastro necessita de aprovação, quando aprovado você será notificado por e-mail.

          p
            small &copy;Squarebits Software 2017.
