doctype html
html(lang="pt-br")
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1"
    link(href="/assets/icon.png" rel="shortcut icon")
    script src="https://use.fontawesome.com/b49d4d7d31.js"
    = yield :head
    = stylesheet_link_tag 'backend', media: 'all'
    = csrf_meta_tags
  body
    .wrap
      .header
        .container
          nav.navbar.navbar-expand-lg.navbar-light
            = link_to(image_tag('icon.png', alt: 'APPWASH'), [:admin], title: 'APPWASH', class: 'navbar-brand')
            button.navbar-toggler type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false"
              span.navbar-toggler-icon

            .collapse.navbar-collapse.justify-content-center id="mainMenu"
              ul.navbar-nav
                li class="nav-item #{current_page?([:admin]) ? 'active' : ''}"
                  = link_to "Inicio", [:admin], title: 'App Wash', class: 'nav-link'
                li class="nav-item #{current_page?([:admin, :companies]) ? 'active' : ''}"
                  = link_to "Empresas", [:admin, :companies], title: "Empresas", class: 'nav-link'
                li class="nav-item #{current_page?([:admin, :user_schedules]) ? 'active' : ''}"
                  = link_to "Agendamentos", [:admin, :user_schedules], title: "Agendamentos", class: 'nav-link'
                li class="nav-item #{current_page?([:admin, :subscriptions]) ? 'active' : ''}"
                  = link_to "Subscrições", [:admin, :subscriptions], title: "Subscrições", class: 'nav-link'
                li class="nav-item #{current_page?([:admin, :plans]) ? 'active' : ''}"
                  = link_to "Planos", [:admin, :plans], title: "Planos", class: 'nav-link'

              ul.nav.nav-profile
                li.nav-item.dropdown
                  = link_to nil, class: 'nav-link dropdown-toggle', id: 'navProfile', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } do
                    i.icon.dripicons-user
                    = current_admin
                  .dropdown-menu aria-labeledby="navProfile"
                    = link_to 'Editar meu perfil', nil, class: 'dropdown-item'
                    = link_to 'Sair', [:destroy, :admin, :session], method: 'delete', title: 'Sair', class: 'dropdown-item'

      .main
        .section
          - if flash[:notice]
            .alert.alert-info.alert-dismissible.fade.in
              button.close type="button" data-dismiss="alert" aria-label="Close"
                span aria-hidden="true" &times;
              strong #{flash[:notice]}
          - if flash[:alert] || flash[:error]
            .alert.alert-danger.alert-dismissible.fade.in
              button.close type="button" data-dismiss="alert" aria-label="Close"
                span aria-hidden="true" &times;
              strong #{flash[:alert]} #{flash[:error]}
        = yield
    .footer
      p.no-margin: small Desenvolvido por <a href="http://squarebits.com.br" target="_blank">Squarebits Software</a>

  = javascript_include_tag 'backend'
  = yield :script
