doctype html
html(lang="pt-BR")
  head
    meta charset="UTF-8"
    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"

    = yield :head
    = stylesheet_link_tag 'backend', media: 'all'
    = csrf_meta_tags
    link rel="shortcut icon" href="/assets/icon.png"

  body.login
    .container
      = yield
